<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
</head>
<body>
<h1>{{title}} {{name}}</h1>
<p>{{{content}}}</p>
<ul>
  {{#each friends}}
    <li>
    {{name}}
    {{# if age}}
    - you are {{age}}
    {{/if}}
    </li>
  {{/each}}
</ul>
</body>
</html>
